@import "@/styles/imports";

.section {
	@include flex(center, center, column);
    width: 100%;
	gap: 2.4rem;

	.title {
		h3 {
			@extend %title-40;
			text-align: center;
            text-decoration: underline;
		}
	}

    .content {
        @include flex(center, flex-start, row wrap);
        gap: 1rem;
        width: 100%;

    }

    @include screenMax('mobile') {
        align-items: flex-start;
        gap: 0.8rem;

        .title {
            h3 {
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
        }

        .content {
            justify-content: flex-start;
            gap: 1rem;
        }
    }
}
